node_modules
dist
coverage
.wrangler
.dev.vars*
!.dev.vars.example
*.local
*.log
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# vite
vite.config.ts.timestamp-*
vitest.config.ts.timestamp-*
